#slides{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
img{
    height: 250px;
    width: 200px;
    border:2px solid white;

}
#img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img:nth-child(1){
    margin-right: -30px;
    transform-style: preserve-3d;
    transform:perspective(500px) rotateY(30deg);
}
img:nth-child(2){
    margin-right: -30px;
    transform-style: preserve-3d;
    transform:perspective(500px) rotateY(30deg);

}
img:nth-child(3){
    z-index: 1;

}
img:nth-child(4){
    margin-left: -30px;
    transform-style: preserve-3d;
    transform:perspective(500px) rotateY(-30deg);

}
img:nth-child(5){
    margin-left: -30px;
    transform-style: preserve-3d;
    transform:perspective(500px) rotateY(-30deg);

}
